/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style-type: none;
}

#calculator {
  background-color: black;
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

#display {
  background-color: white;
}

.row {
  display: flex;
  gap: 8px;
}

.key {
  background-color: darkgray;
  color: white;
  width: 72px;
  height: 54px;
  border-radius: 12px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key:active {
  background-color: gray;
}
